{:http
 {:port 3000
  ;; http logging defaults to standard error if not specified, but
  ;; this doesn't seem to work well under cider, so we use this
  ;; option to send it to a file
  :log-file-name "http.json.log"
  :secure false ; for cookies, need to know if using https
  :session-secret "0123456789abcdef"}
 :db
 {:spec "postgresql://onedayuser:onedaypw@localhost/oneday"}
 :oidc
 {:google
  {
   :discovery-uri "https://accounts.google.com/.well-known/openid-configuration"
   :client-id "u6562375-thisisnotnotreal@sqo.apps.googleusercontent.com"
   :client-secret "Ghftygh76yug7t6"
   :provider-name "google"
   :redirect-uri "http://localhost:3000/login/google/postauth"
   }
  }
 }

