@font-face {
    font-family: "museosans";
    font-style: normal;
    font-weight: normal;
    src: url('/static/museo-sans-500.woff');
}
div.comments div.comment {
    margin-left: 1em;
    margin-bottom: 0.5em;
    padding: 6px;
    background-color: #eee;
}
div.comments div.demo {
    background-color: #fad;
    border-style: dotted;
    border-width: 4px;
    border-color: #888;
}
div.comments div.interested {
    background-color: #dfd;
}

div.comments div.comment .attribution {
    font-size: 90%;
    margin-bottom: 9px;
    font-style: italic;
}

div.proposal form.comment {
    margin: 1em;
    background: #eee;
    padding: 0.3em;
}

div.proposal form.comment textarea#text {
    margin: 0;
    height: 3em;
    font-size: 100%;
    background: inherit;
}

div.proposal form.comment div.field {
    margin: 0.5em;
}

    

header {
    padding: 0.3em 1em;
    margin: 0em;
    margin-bottom: 2em;
}

header a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: "museosans",helvetica,sans-serif;
    background: #eee;
}
blockquote {
    margin: 2em 2em;
    border-left: 8px solid  #ecc;
    padding: 1em 1em ;
}
blockquote h1 {
    font-size: 120%;
}
blockquote h2 {
    font-size: 110%;
}

div.intro {
    padding: 1em 0.5em;
    padding-left: 2em;
    font-size: 140%;
    background: linear-gradient(45deg, #e8473f, #e8473f, #ed2d7e, #ed2d7e, #6b5ea9, #6b5ea9, #00aecb, #00aecb, #00ad93, #00ad93, #e8473f, #e8473f, #ed2d7e, #ed2d7e, #6b5ea9, #6b5ea9, #00aecb, #00aecb, #00ad93, #00ad93);
    background-size: 1200% 100%;
    background-position: 20% 50%;
    color: #bbb;
    margin: 1em;
    margin-bottom: 3em;
}

div.intro p { padding: 0; margin:0 0 0.3em 0; }
div.intro a { font-weight: bold; color: #ccc; }



div.proposal {
    margin: 1em 5em 2em 1em;
    padding: 0.5em 1em;
    background: linear-gradient(45deg, #fdd,#eec);
    box-shadow: 1px 1px 7px #888;
}
div.proposal h2 {
    padding:0;
    margin: 0;
}
div.proposal h2 a { text-decoration: none; }

.dateline {
    font-size: 90%;
    font-weight: bold;

}

.gradient {
    background: linear-gradient(5deg, #e8473f, #e8473f, #ed2d7e, #ed2d7e, #6b5ea9, #6b5ea9, #00aecb, #00aecb, #00ad93, #00ad93, #e8473f, #e8473f, #ed2d7e, #ed2d7e, #6b5ea9, #6b5ea9, #00aecb, #00aecb, #00ad93, #00ad93);
    background-size: 1200% 100%;
    background-position: 100% 50%;
}

div.post-proposal form {
    width: 100%;
    font-size: 120%;
}
div.post-proposal form div {
    margin: 1em 0.2em;
}
div.post-proposal form div input,textarea {
    margin-left: 1em;
    width: 70%;
    font-size: 120%;
    vertical-align: top;
}
div.post-proposal form textarea#description {
    height: 15em;
    font-size: 100%;
}

div.post-proposal form select {
    margin-left: 1em;
}
